.sidebar {
   margin: 0;
   padding-left: 15px;
   padding-top: 80px;
   width: 150px;
   background-color: #f1f1f1;
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 
 .sidebar h5 {
   display: block;
   padding: 16px;
   color: white;
   text-decoration: none;
 }
 
 @media screen and (max-width: 700px) {
   .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar h5 {
      float: left;
   }
   .sidebar_div{
      margin-left: 50px;
   }
 }
 @media screen and (max-width: 480px) {
   .sidebar h5 {
      text-align: center;
      float: none;
    }
    .sidebar_div{
      margin-left:0px;
   }
 }